.*
/doc/
/docs/
*.json
!dub.json
*.html
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.o
*.obj
*.lst
*-test-*
/testcases/*/*
!/testcases/*/dub.json
!/testcases/*/dub.sdl
!/testcases/*/.no_build
!/testcases/*/.no_test
!/testcases/*/.no_run
!/testcases/*/.no_coverage
!/testcases/*/.build_opts
!/testcases/*/.test_opts
!/testcases/*/.run_opts
!/testcases/*/source/
!/testcases/*/src/
!/testcases/*/views/
/examples/*/*
!/examples/*/dub.json
!/examples/*/dub.sdl
!/examples/*/source/
!/examples/*/src/
!/examples/*/views/
